# Frontend Streamlit
streamlit==1.32.0
streamlit-chat==0.1.1
streamlit-modal==0.1.0

# Ejecución de código
ipykernel>=6.0.0
nbconvert>=7.0.0
nbformat>=5.0.0
requests>=2.31.0

# Utilidades
sqlite3
json5>=0.9.0